a,
nav {
  color: #eee1c5;
}

.nav-opt,
.nav-opt-slide {
  font-size: 16px;
  font-family: Oswald, sans-serif;
  list-style-type: none;
}

.hero-text,
.nav-opt,
.nav-opt-slide,
.menu-week,
.day-title,
.menu,
.food-typ,
.contact-us-head,
.search-us-head,
.contact-us-text,
.search-us-text {
  font-family: Oswald, sans-serif;
}

.col2,
.nav-bar-slide,
.nav-opt-slide,
body,
nav {
  background-color: #0e0e0e;
}

.menu-list,
.nav-opt,
.nav-opt-slide {
  list-style-type: none;
}

#hero,
#menu-item-cont,
.hero-text {
  position: relative;
}

#section3,
#section4,
#section5,
.col1,
.col3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sect-5-cont,
#section7,
.section-text {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 60px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 5;
}

.logo-stamp {
  width: 120px;
  height: 60px;
  display: inline-block;
  float: left;
  margin-left: 5%;
  color: #eee1c5;
}

.nav-bar,
.nav-opt {
  display: inline-block;
  float: right;
}

.nav-bar {
  width: auto;
  height: 60px;
  margin: 0 5% 0 0;
  vertical-align: bottom;
}

.nav-opt {
  padding: 5px;
  margin: 13px 20px;
}

#cross-icon p,
#menu-icon p,
.nav-bar-slide,
.nav-opt-slide {
  display: none;
}

.hero-text,
.logo {
  display: inline-block;
}

#hero {
  background-image: url(img/hero-dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  color: #eee1c5;

}

.logo {
  width: 50%;
  height: 25%;
  color: #eee1c5;
}

.hero-text {
  width: 900px;
  height: auto;
  vertical-align: middle;
  margin: auto;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  text-align: center;
}

.hero-text h4 {
  font-size: 20px;
  width: auto;
  border: 2px solid #eee1c5;
  color: #eee1c5;
  display: inline-block;
  padding: 5px 10px;
  margin: 30px auto 10px;
  cursor: pointer;
}

#map,
#sect-5-cont,
.col2 h3,
.section-text {
  border: 6px solid #eee1c5;
}

.col2,
.section-text {
  font-family: Oswald, sans-serif;
  color: #eee1c5;
  display: inline-block;
  text-align: center;
}

.hero-text h2 {
  display: inline-block;
  margin: 10px auto;
  font-size: 62px;
}

#section2 {
  display: flex;
  width: 100%;
  height: 100vh;
}

.third {
  display: inline-block;
  width: 33.3333%;
  height: 100%;
}

.col1 {
  background-image: url(img/img1.jpg);
}

.col2 {
  vertical-align: top;
  font-size: 64px;
}

.col2 h3 {
  display: inline-block;
  margin: 50% auto;
  padding: 30px;
}

.col3 {

  background-image: url(img/img3.jpg);

}

#section3 {
  background-image: url(img/sect3-new.jpg);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section-text {
  width: 100%;
  max-width: 95%;
  height: auto;
  margin: 2.5% 2.5%;
  margin-top: 8%;
}

.section-head {
  font-size: 48px;
  margin: 20px 50px;
}

.section-subhead {
  font-size: 28px;
  margin: 30px 50px;
  text-align: left;
}

.section-para {
  font-size: 22px;
  margin: 20px 50px 40px;
}

#section4 {
  background-image: url(img/sect4-back1.jpg);
  width: 100%;
  height: auto;
  overflow: hidden;

}

.menu-week {
  text-align: center;
  font-size: 74px;
  color: #eee1c5;
}

.weekdays {

  font-size: 40px;
  color: #eee1c5;
  display: flex;

}

.day-title {
  text-align: center;
  font-size: 60px;
  color: #eee1c5;

}

.menu {

  text-align: center;
  font-size: 30px;
  color: #eee1c5;
  height: auto;

}

.day {

  width: 50%;
  padding: 0 5px;

}

.food-type {
  width: 100%;
  max-width: 95%;
  height: auto;
  margin: 2.5% 2.5%;
  font-size: 34px;
  color: #eee1c5;
  border: 3px solid #eee1c5;
}

#section7,
.section-text {
  box-sizing: border-box;
}

#contact-us,
#find-us,
#search-us {
  vertical-align: top;
  background-color: #0e0e0e;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}

#section7 {
  display: block;
  background-color: #0e0e0e;
  color: #eee1c5;
  height: 40vh;

}

#sect-7-cont {
  display: flex;
  width: 80%;
  margin-left: 10%;
  background-color: #0e0e0e;
}

#contact-us,
#find-us,
#search-us,
.contact-us-head,
.search-us-head {
  display: inline-block;
}

#contact-us {
  width: 33.33%;
  height: auto;
}

.contact-us-head {
  font-size: 36px;
  width: 100%;

}

.contact-us-text {
  height: 100px;
  font-size: 28px;
}

#find-us {
  width: 33.33%;
  height: auto;
}

#search-us {
  width: 33.34%;
  height: 100%;
}

.search-us-icon {
  height: 100px;
}

.search-us-head {
  font-size: 36px;
}


@media screen and (max-width:1320px) {

  .menu-font,
  .menu-list {
    text-align: center;
    float: none;
  }

  .menu-font,
  .menu-list,
  .menu-opt {
    float: none;
  }

  .col2,
  .contact-us-head,
  .menu-opt-spliter {
    display: inline-block;
  }

  .col1 {
    width: 50%;
  }

  .col2 {
    position: absolute;
    background: 0 0;
    right: 10%;
    width: 80%;
  }

  .col2 h3 {
    margin: 45% auto auto;
    border: none;
  }

  #sect-5-cont,
  .section-text {
    margin-left: 5%;
    max-width: none;
  }

  .col3 {
    width: 50%;
  }

  .section-text {
    width: 90%;
  }

  .section-head {
    font-size: 32px;
  }

  .section-subhead {
    font-size: 25px;
  }

  .section-para {
    font-size: 20px;
  }

  .menu-list {
    margin-top: 15px;
    width: 100%;
    height: auto;
  }

  .menu-font {
    margin-top: 45px;
    width: 100%;
  }

  #sect-5-cont {
    width: 90%;
    margin-top: 20%;
  }

  .about-us-head {
    font-size: 32px;
  }

  .about-us-subhead {
    font-size: 25px;
  }

  .about-us-para {
    font-size: 20px;
  }

  #sect-7-cont {
    width: 100%;
    margin-left: 0;
  }

  .contact-us-head {
    font-size: 18px;
  }

  .weekdays {
    display: grid;
  }

  .day {
    margin-left: 25%;
  }

}

@media screen and (max-width:865px) and (min-width:100px) {

  #nav-bar-slide.hide,
  #nav-bar-slide.show,
  .nav-opt-slide {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  }

  .nav-bar {
    display: none;
  }

  #nav-bar-slide {
    display: block;
    position: absolute;
    top: 40px;
    background-color: #0e0e0e;
    right: -140px;
    padding: 10px;
    text-align: center;
  }

  .nav-opt-slide {
    list-style-type: none;
    display: block;
    font-size: 16px;
    font-family: Oswald, sans-serif;
    height: 40px;
    width: 100px;
  }

  #cross-icon p,
  #menu-icon p,
  .display {
    display: inline-block;
    float: right;
    font-size: 40px;
    margin: -1px 5% 0 0;
  }

  .nav-opt-slide a {
    vertical-align: bottom;
  }

  #nav-bar-slide.show {
    right: 0;
  }

  #nav-bar-slide.hide {
    right: -140px;
  }

  .remove {
    display: none;
  }

  #section4 {
    padding-bottom: 150px;
  }

  .menu-item-portion,
  .menu-item-price {
    font-size: 18px;
    vertical-align: bottom;
    padding: 0;
    margin: 27px 0 10px;
  }

  .menu-item-description {
    font-size: 18px;
    width: 75%;
  }

  #contact-us,
  #find-us,
  #search-us {
    display: block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 0;
  }

  #section5 {
    padding-bottom: 0;
  }

  #sect-5-cont {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .about-us-subhead {
    font-size: 22px;
  }

  .about-us-text,
  .contact-us-head {
    font-size: 18px;
  }

  #sect-7-cont {
    width: 100%;
    margin-left: 0;
    padding-top: 20px;
  }

  .contact-us-text {
    height: auto;
    font-size: 14px;
  }
}

@media screen and (max-width:590px) {
  .hero-text {
    width: 300px;
  }

  .hero-text h2 {
    font-size: 34px;
  }

  .col2 {
    font-size: 40px;
  }
}